{% extends "ex01/base.html" %}

{% block title %}Ex01 : Django, framework web.{% endblock %}

{% block content %}
    <h1>Ex01 : Django, framework web.</h1>
    <p>
        <strong>Django</strong> est un framework web open-source de haut niveau écrit en Python, qui encourage un développement rapide 
        et une conception propre et pragmatique. Créé initialement en 2003 par les développeurs du journal <em>Lawrence Journal-World</em>, 
        il a été publié en open-source en juillet 2005 et nommé en l'honneur du guitariste de jazz Django Reinhardt.
    </p>
{% endblock %}